.legends {
  display: flex;
  align-items: center;
}

.legends__item {
  display: flex;
  align-items: center;
}

.legends__item:not(:last-child) {
  margin-right: 1rem;
}

.legends__color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.legends__color--black-stroke {
  border: 1px #595959 solid;
}

.bar-line .legends__color--green {
  background-color: #237804;
}

.legends__color--gray {
  background-color: #c4c4c4;
}

.legends__label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #595959;
}
